$bg-colour: #222222;

$primary: #f2f2f2;
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$bg-main: #222222;
$bg-sec: #272627;
$font-colour-white: #f2f2f2;
$button-main: #ff7324;

//spacing
$padding-md: 2px;
$padding-left-md: 24;
$padding-right-md: 24;
$padding-top-md: 24;
$padding-bottom-md: 24;

$margin-bottom-md: 24;
$margin-md: 24;
$margin-left-md: 24;


.font-colour-white {
    color: $font-colour-white;
}

.bg-main {
    background-color: $bg-main;
}

.bg-sec {
    background-color: $bg-sec;
}

.button-main {
    background-color: $button-main;
    color: $font-colour-white;
    display: inline-block;
    font-weight: 400;
    line-height: 1.6;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    border-radius: 0.25rem;

}



// PADDING
.padding-md{
    padding: $padding-md;
}

.padding-left-md{
    padding-left: $padding-left-md;
}

.padding-right-md{
    padding-right: $padding-left-md;
}

.padding-top-md{
    padding-top: $padding-left-md;
}

.padding-bottom-md{
    padding-bottom: $padding-bottom-md;
}

.margin-bottom-md{
    margin-bottom: $margin-bottom-md;
}

.margin-left-md{
    margin-left: $margin-left-md;
}

.margin-md{
    margin: $margin-md;
}

.bg-colour{
    background-color: $bg-colour;
}
